$bgColor : #3333ff;
$fgColor : #fff;
$hoverColor: #ff8700;
$primary-color : black ;
$secondary-color: white;

$warning-color:yellow;
$succes-color:green;
$danger-color:red;
$aqua : #7FFFD4;
$light-color : #f4f4f4;

$large : 50px;
$medium : 40px;
$small : 30px;
$tiny : 15px;


$myFont: Helvetica, sans-serif;