@import 'variable';
@import 'padding';
@import 'heading';
@import 'resets';
@import 'weight';

body{
    background-color: $light-color;
    font-family: $myFont;
    line-height: 1.5;
}

h1{
    @include heading(large);
    font-weight: set-weight(medium);
    font-family: $myFont;
}

h2{
    @include heading(medium);
    font-family: $myFont;
}

h3{
    @include heading(small);
    font-family: $myFont;
}
p{
    @include heading(tiny);
    font-weight: map-get($font-weight,regular);
}
#container{
    text-align: center;
    margin-top: 5em;
}

@mixin set-flex($boxNumber,$flexValue ){
    .box-#{$boxNumber}{
        flex : $flexValue;
        border:1px solid $hoverColor;
        align-content: center;
    }
}
.flex-container{
    display: flex;
    flex-direction: row;
    @include set-flex(1 , 1 );
    @include set-flex(2 , 1 );
    @include set-flex(3 , 1 );
}


// nested 
#toast{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    .warning{
        color:$primary-color;
        background-color: $warning-color;
    }
    .success{
        color:$secondary-color;
        background-color: $succes-color;
    }
    .danger{
        color:$secondary-color;
        background-color: $danger-color;
    }
}



// Interpolation and mixins 

@mixin margin($position , $unit){
    margin-#{$position} : $unit + px;
}

@mixin border($unit,$color){
    border: $unit + px +" solid " + $color;
}

@mixin set-icon($name){
    .icon-#{$name}{
        background-image: url("../icon/" +$name+".png");
    }
}

.box{
    
    @include border(2 , $aqua);
    @include margin(top,15);
    @include margin(bottom,15);
    @include margin(left,15);
    @include margin(right,15);
    @include padding(left,15);
}

@include set-icon(github);

